{% extends '@Admin/account.html.twig' %}
{% set current_path = app.request.get('_route') %}

{% block title %}Forms{% endblock %}

{% set isArchive = 'admin_forms_archived' == current_path %}

{% block body %}
    <div class="tabs mt-5">
        <ul>
            <li class="{{ isArchive != true ? 'is-active' : '' }}">
                <a
                    href="{{ path('admin_forms') }}"
                >
                    Active ({{ counts.active }})
                </a>
            </li>
            <li class="{{ isArchive ? 'is-active' : '' }}">
                <a
                    href="{{ path('admin_forms_archived') }}"
                >
                    Archived ({{ counts.archived }})
                </a>
            </li>
        </ul>
    </div>
    <ul class="mt-5 columns is-multiline">
        {% for form in forms %}
            <li class="column is-4">
                <div class="box">
                    <div>
                        <a href="{{ path('admin_forms_submissions_new', {id: form.id}) }}">
                            {{ form.name }}
                        </a>
                    </div>
                    <div class="mt-2 is-flex">
                        <a
                            href="{{ path('admin_forms_submissions_new', {id: form.id}) }}"
                            title="New submissions"
                            style="text-decoration: none;"
                            class="tag is-primary is-light"
                        >
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="width: 16px; fill: hsl(141, 71%, 48%)" class="mr-1">
                                <circle cx="12" cy="8" r="4"/>
                                <path d="M20,19v1a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V19a6,6,0,0,1,6-6h4A6,6,0,0,1,20,19Z" />
                            </svg>
                            <span class="mr-1">
                                {{ form.activeSubmissions }}
                            </span>
                            {% if form.newSubmissions > 0 %}
                                <sup>+{{ form.newSubmissions }}</sup>
                            {% endif %}
                        </a>
                        {% if form.flaggedSubmissions > 0 %}
                            <a
                                href="{{ path('admin_forms_submissions_flagged', {id: form.id}) }}"
                                class="tag is-warning is-light ml-1"
                                style="text-decoration: none;"
                                title="Flagged"
                            >
                                <svg viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg" style="width: 16px; height: 16px; fill: hsl(48, 100%, 29%)">
                                    <rect fill="none" height="256" width="256"/><path d="M230.2,163a8,8,0,0,1-6.2,13H48v40a8,8,0,0,1-16,0V48a8,8,0,0,1,8-8H224a8,8,0,0,1,6.2,13l-44,55Z"/>
                                </svg>
                                <span class="ml-1">
                                {{ form.flaggedSubmissions }}
                            </span>
                            </a>
                        {% endif %}
                        {% if app.user.isSuperUser %}
                            {% if (form.recaptchaToken|length == 0 and form.secret|length == 0) %}
                                <a class="tag is-danger is-light ml-1" title="Please use token or reCaptcha protection" href="{{ path('admin_forms_token', { id: form.id }) }}">
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="width: 16px; height: 16px; fill: hsl(348, 100%, 61%);">
                                        <path d="M21.171,15.398l-5.912-9.854C14.483,4.251,13.296,3.511,12,3.511s-2.483,0.74-3.259,2.031l-5.912,9.856  c-0.786,1.309-0.872,2.705-0.235,3.83C3.23,20.354,4.472,21,6,21h12c1.528,0,2.77-0.646,3.406-1.771  C22.043,18.104,21.957,16.708,21.171,15.398z M12,17.549c-0.854,0-1.55-0.695-1.55-1.549c0-0.855,0.695-1.551,1.55-1.551  s1.55,0.696,1.55,1.551C13.55,16.854,12.854,17.549,12,17.549z M13.633,10.125c-0.011,0.031-1.401,3.468-1.401,3.468  c-0.038,0.094-0.13,0.156-0.231,0.156s-0.193-0.062-0.231-0.156l-1.391-3.438C10.289,9.922,10.25,9.712,10.25,9.5  c0-0.965,0.785-1.75,1.75-1.75s1.75,0.785,1.75,1.75C13.75,9.712,13.711,9.922,13.633,10.125z"/>
                                    </svg>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% if app.user.isSuperUser %}
        <div
            class="mt-5 is-flex is-justify-content-center is-align-items-center"
        >
            <a
                href="{{ path('admin_forms_create') }}"
                class="button is-success"
            >
                Create a new form
            </a>
        </div>
    {% endif %}
{% endblock %}