{% extends '@Admin/forms/page.html.twig' %}

{% block title %}API / {{ formEntity.name }} / Forms{% endblock %}

{% block section %}
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                Protect form with reCaptcha
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <form method="post">
                    {{ form_start(form) }}
                    <p>
                        Generate your token at <a target="_blank" href='https://www.google.com/recaptcha/about/'>Google reCAPTCHA</a>.
                        Only the Secret Key is required here.
                        Ensure to implement token retrieval on the frontend and include it in the PHPForm endpoint request under the 'recaptchaResponse' key.
                    </p>
                    {{ form_row(form.recaptcha_token) }}
                    <p>
                        Keep the field empty to disable reCAPTCHA.
                    </p>
                    <p>
                        Example of how to include the token in the request:
                    </p>
                    <pre><code>fetch('https://your-domain.com/api/forms/{{ formEntity.id }}', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json',
    },
    body: JSON.stringify({
        recaptchaResponse: 'recaptcha-token-here',
        // other form fields
    }),
})</code></pre>
                    <p>
                        More information on how to use reCAPTCHA can be found <a target="_blank" href='https://developers.google.com/recaptcha/docs/v3'>here</a>.
                    </p>
                    {{ form_row(form.save) }}
                    {{ form_end(form) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
