{% block form_row %}
    <div class="field">
        <label class="has-text-weight-bold">
            {{ form_label(form) }}
        </label>
        <div class="control mt-1">
            {{ form_widget(form) }}
        </div>
        {{ form_errors(form) }}
        <div class="help">{{ form_help(form) }}</div>
    </div>
{% endblock %}

{% block text_widget %}
    <div class="control">
        <input {{ block('widget_attributes') }} class="input" type="text" value="{{ value }}">
    </div>
{% endblock %}

{% block textarea_widget %}
    <div class="control">
        <textarea {{ block('widget_attributes') }} class="textarea">{{ value }}</textarea>
    </div>
{% endblock %}

{% block integer_widget %}
    <div class="control">
        <input {{ block('widget_attributes') }} class="input" type="number" value="{{ value }}">
    </div>
{% endblock %}

{% block number_widget %}
    <div class="control">
        <input {{ block('widget_attributes') }} class="input" type="number" value="{{ value }}">
    </div>
{% endblock %}

{% block percent_widget %}
    <div class="control">
        <input {{ block('widget_attributes') }} class="input" type="number" value="{{ value }}">
    </div>
{% endblock %}

{% block money_widget %}
    <div class="control">
        <input {{ block('widget_attributes') }} class="input" type="number" value="{{ value }}">
    </div>
{% endblock %}

{% block url_widget %}
    <div class="control">
        <input {{ block('widget_attributes') }} class="input" type="url" value="{{ value }}">
    </div>
{% endblock %}

{% block range_widget %}
    <div class="control">
        <input {{ block('widget_attributes') }} class="input" type="range" value="{{ value }}">
    </div>
{% endblock %}

{% block date_widget %}
    <div class="control">
        <input {{ block('widget_attributes') }} class="input" type="date" value="{{ value }}">
    </div>
{% endblock %}

{% block datetime_widget %}
    <div class="control">
        <input {{ block('widget_attributes') }} class="input" type="datetime" value="{{ value }}">
    </div>
{% endblock %}

{% block email_widget %}
    <div class="control">
        <input {{ block('widget_attributes') }} class="input" type="email" value="{{ value }}">
    </div>
{% endblock %}

{% block choice_widget %}
    <div class="control">
        <div class="select">
            <select {{ block('widget_attributes') }}>
                {% if preferred_choices|length > 0 %}
                    {% set options = preferred_choices %}
                    {{ block('choice_widget_options') }}
                    {% if choices|length > 0 and separator is not none %}
                        <option disabled="disabled">{{ separator }}</option>
                    {% endif %}
                {% endif %}
                {% set options = choices %}
                {{ block('choice_widget_options') }}
            </select>
        </div>
    </div>
{% endblock %}

{% block choice_widget_options %}
    {% for group_label, choice in options %}
        {% if choice is iterable %}
            <optgroup label="{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}">
                {% set options = choice %}
                {{ block('choice_widget_options') }}
            </optgroup>
        {% else %}
            <option value="{{ choice.value }}" {% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}</option>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block password_widget %}
    <div class="control">
        <input {{ block('widget_attributes') }} class="input" type="password">
    </div>
{% endblock %}

{% block checkbox_widget %}
    <div class="control">
        <label class="checkbox">
            <input {{ block('widget_attributes') }} type="checkbox" value="{{ value }}"{% if checked %} checked="checked"{% endif %}>
            {{ label|default('') }}
        </label>
    </div>
{% endblock %}

{% block form_errors %}
    {% if errors|length > 0 %}
        <div class="notification is-danger mt-1">
            {% for error in errors %}
                {{ error.message }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block submit_widget %}
    <div class="control">
        <button {{ block('button_attributes') }} class="button is-primary">{{ label|default('Submit') }}</button>
    </div>
{% endblock %}