{% block form_row %}
    <div class="field">
        {{ form_label(form) }}
        <div class="control">
            {{ form_widget(form) }}
        </div>
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block text_widget %}
    <div class="control">
        <input {{ block('widget_attributes') }} class="input" type="text" value="{{ value }}">
    </div>
{% endblock %}

{% block email_widget %}
    <div class="control">
        <input {{ block('widget_attributes') }} class="input" type="email" value="{{ value }}">
    </div>
{% endblock %}

{% block password_widget %}
    <div class="control">
        <input {{ block('widget_attributes') }} class="input" type="password">
    </div>
{% endblock %}

{% block checkbox_widget %}
    <div class="control">
        <label class="checkbox">
            <input {{ block('widget_attributes') }} type="checkbox" value="{{ value }}"{% if checked %} checked="checked"{% endif %}>
            {{ label|default('') }}
        </label>
    </div>
{% endblock %}

{% block form_errors %}
    {% if errors|length > 0 %}
        <div class="notification is-danger mt-1">
            {% for error in errors %}
                {{ error.message }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block submit_widget %}
    <div class="control">
        <button {{ block('button_attributes') }} class="button is-primary">{{ label|default('Submit') }}</button>
    </div>
{% endblock %}